[submodule "DroCo/Submodules/mrayGStreamerUnity"]
	path = DroCo/Submodules/mrayGStreamerUnity
	url = git@github.com:mrayy/mrayGStreamerUnity.git
[submodule "DroCo/Submodules/droco_private"]
	path = DroCo/Submodules/droco_private
	url = git@github.com:robofit/droco_private.git